<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="header">
        <div>
            <a href="/">HomePage</a>
            <a href="/view">View List User</a>
            <a href="/productPage">Product</a>
            
        </div>
        <div>
            <a href="/create">Create a User</a>
            <a href="/login">Login</a>
        </div>
    </div>
    <h1>
        productpage 
        <form action="/product/createProduct" method="post" >
            <div class="form">
                <h2 style="text-align: center">Form </h2>
                <input type="text" name="name" placeholder="Name">
                <select style="padding: 10px;" name="brand" >
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                </select>
                <input type="number" name="price" placeholder="price">
                <input type="text" name="image" placeholder="image">
                <textarea name="description" placeholder="Description" cols="30" rows="10"></textarea>
                <input class="btn" type="submit" value="submit">
            </div>
        </form> 
    </h1>

    <h2 style="text-align: center; padding: 50px 0 30px 0;">List Product</h2>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <table>
            <tr>
                <th>Index</th>
                <th>ID</th>
                <th>Name Product</th>
                <th>brand</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
               
            <% products.map((product , index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= product._id %></td>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.brand %></td>
                    <td><%= product.description %></td>
                    <td><%= product.image %></td>
                    <td style="display: flex;">
                        <form  style="padding: 10px 20px; background-color: lightblue; border-radius:5px ; margin: 0 5px;" action="/product/updateProduct/<%= product._id %>" method="post">
                            <button style="padding: 0; border: none;background-color: transparent; cursor: pointer;">Edit</button>
                        </form>
                        <form  style="padding: 10px 20px; background-color: lightblue; border-radius:5px ;margin: 0 5px;" action="/product/deleteProduct/<%= product._id %>" method="post">
                            <button style="padding: 0; border: none;background-color: transparent; cursor: pointer;">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
           
        </table>
    </div>
</body>
</html>